.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

h2 {
	font-weight: 400;
}

/* Navbar */

.nav {
	width: 100%;
	height: 10vh;
	background-color: #3f2050;
	display: flex;
	align-items: center;
}

.nav img {
	height: 8vh;
}

/* Login */

.login-container {
	width: 40vw;
	margin-top: 20vh;
	text-align: start;
}

.login-container fieldset {
	display: flex;
	flex-direction: column;
	border: none;
	padding: 0;
}

.login-container p {
	margin-bottom: 10px;
}

.login-container input {
	border-radius: 20px;
	outline: none;
	border: none;
	height: 5vh;
	width: 100%;
	margin-left: -8px;
	padding-left: 15px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.493);
	box-sizing: border-box;
}

.btn {
	margin: 5vh 0;
	width: 95%;
	border-radius: 20px;
	outline: none;
	border: 1px solid #3f2050;
	height: 5vh;
	box-sizing: border-box;
	color: white;
	background-color: #3f2050;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.89);
	font-size: large;
	cursor: pointer;
}

/* Card */

.card {
	width: 80%;
	margin: 1vh 1vw;
	min-height: 8vh;
	display: flex;
	align-items: center;
	border-radius: 0.5rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
	box-sizing: border-box;
	padding: 0 5vw;
	justify-content: space-between;
	background-color: white;
	cursor: pointer;
}

.card p {
	font-size: large;
}

/* Home */
.container {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container .heading {
	margin-top: 10vh;
	margin-bottom: 8vh;
}

.heading p {
	color: rgb(109, 105, 105);
}

/* Payment */

.payment label {
	text-align: start;
}

.payment input {
	height: 3vh;
	margin-bottom: 6vh;
}

/* Footer */

footer {
	margin-top: auto;
	margin-bottom: 1vh;
	font-size: small;
	color: #3f2050;
}
