.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

/* Navbar */

.nav {
	width: 100%;
	height: 10vh;
	background-color: #3f2050;
	display: flex;
	align-items: center;
}

.nav img {
	height: 8vh;
}

/* Login */

.login-container {
	width: 80vw;
	margin-top: 20vh;
	text-align: start;
}

.login-container fieldset {
	display: flex;
	flex-direction: column;
	border: none;
	padding: 0;
}

/* Card */

.card {
	width: 80%;
	margin: 1vh 1vw;
	min-height: 8vh;
	display: flex;
	align-items: center;
	border-radius: 0.5rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
	box-sizing: border-box;
	padding: 0 5vw;
	justify-content: space-between;
}

.card p {
	font-size: large;
}

/* Home */
.container {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container h2 {
	margin-top: 15vh;
	margin-bottom: 10vh;
}

/* Payment */
.payment h2 {
	margin-bottom: 5vh;
}

.payment label {
	text-align: start;
}

.payment input {
	height: 3vh;
	margin-bottom: 6vh;
}

/* Footer */

footer {
	margin-top: auto;
	margin-bottom: 1vh;
	font-size: small;
	color: #3f2050;
}
